<body ng-cloak>
    <div ng-controller="formControl">
<!-- Maintenance Title -->
<div class="text-left">

    <h6>Maintenance</h6>

</div>
<!-- Buttons & Dropdowns -->
<div class="nav">
    <!-- Asset Filter -->
    <label style="margin-right:8px;" for="assets">Asset Type:</label>
    <select style="margin-right:25px;" id="assets" name="assets">
        <option value="All">All</option>
        <option value="Computer">Computer</option>
        <option value="Laptop">Laptop</option>
        <option value="iMac">iMac</option>
        <option value="Monitor">Monitor</option>
        <option value="Printer">Printer</option>
        <option value="Peripheral device">Peripheral device</option>
    </select>

    <!-- Team/Department Filter -->
    <label style="margin-right:8px;" for="Team">Team:</label>
    <select style="margin-right:10px;" id="Team" name="Team">
        <option value="All Teams">All</option> 
        <option value="Service Plan">Service Plan</option>
        <option value="Menu Pricing">Menu Pricing</option>
        <option value="iVHC Web">iVHC Web</option>
        <option value="iVHC Database">iVHC Database</option>
        <option value="CRM">CRM</option>
        <option value="Stock Master">Stock Master</option>
        <option value="Cloud & Infrastructure">Cloud & Infrastructure</option>
        <option value="In House Systems">In House Systems</option>
        <option value="Mobile">Mobile</option>
        <option value="API">API</option>
        <option value="Service Plan Support">Service Plan Support</option>
        <option value="iVHC Support">iVHC Support</option>
        <option value="Customer Portal">Customer Portal</option>
    </select>

    <!-- Buttons -->
    <button ng-click="hideInput()" >Adjust Manually</button>

    <!-- Inputs -->
    <div class="container" ng-hide="hidden">
        <h5>Asset Management</h5>
        <div class="row">
            <div class="col-sm">
                <form name="AssetManagementForm">
                    <p><input required ng-model="model.eset" class="form-control-mx-sm" name="ESET" placeholder="Eset Number" type="text"></p>
                        <p><select class="custom-select" required ng-model="model.type" name="Type">
                            <option value="1">Computer</option>
                            <option value="2">Laptop</option>
                            <option value="3">iMac</option>
                            <option value="4">Monitor</option>
                            <option value="5">Printer</option>
                            <option value="6">Peripheral device</option>
                        </select></p>
                    <p><input ng-model="model.brand" name="Brand" placeholder="Brand" type="text"></p>
                    <p><input ng-model="model.serial" name="Serial" placeholder="Serial/Service Tag" type="number"></p>
            </div>
            <div class="col-sm">
                    <p><input ng-model="model.ssd" name="SSD" placeholder="SSD" type="text"></p>
                    <p><input ng-model="model.cpu" name="CPU" placeholder="CPU" type="text"></p>
                    <p><input ng-model="model.hdd" name="HDD" placeholder="HDD" type="text"></p>
                    <p><input ng-model="model.ram" name="RAM" placeholder="RAM" type="text"> </p>
            </div>
            <div class="col-sm">
                <p><input ng-model="model.os" name="OS" placeholder="Operation System" type="text"></p>
                    <p><input ng-model="model.gpu" name="GPU" placeholder="GPU" type="text"></p>
                    <p><input ng-model="model.user" name="User" placeholder="User"type="text"></p>
            </div>
            <div class="col-sm">
                    <label for="date-input">Warranty:</label>
                    <input ng-model="model.warranty" class="form-control form-control-sm" name="Warranty" type="date">
                    <label for="date-input">Last Maintenance:</label>
                    <input ng-model="model.lastmaint" class="form-control form-control-sm" name="LastMaint" type="date">
            </div>
                 </form>
        </div>
        <div class="man-but">
            <button ng-disabled="AssetManagementForm.$invalid" ng-click="addAsset()">Insert</button>
            <button ng-click="removeAsset()">Remove</button>
            <button ng-click="reset()">Clear</button>
        </div>
    </div>
</div>

<!-- Table 1 - Maintenance -->
<div>
    <table class="table1">
        
        <!-- Table Headers -->
        <thead>
            <tr id="tr1">
                <th></th>
                <th>ID</th>
                <th>ESET Number</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Serial/Service Tag</th>
                <th id="thdesc" colspan="6">Description</th>
                <th>User</th>
                <th>Date Added</th>
                <th>Warranty</th>
                <th>Last Maintenance</th>
            </tr>

            <!-- Table Sub-Headers -->
            <tr id="tr2">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th id="thdesc">CPU</th>
                <th id="thdesc">RAM</th>
                <th id="thdesc">HDD</th>
                <th id="thdesc">SSD</th>
                <th id="thdesc">OS</th>
                <th id="thdesc">GPU</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <!-- Data -->
        <tbody>
            <tr ng-repeat="asset in assetArray">
                <td>
                    <input id="newbox" type="checkbox" ng-model="asset.Remove"/>
                    <span class="custom-checkbox"></span>
                </td>
                <td>{{ $index + 1 }}</td>
                <td>{{ asset.eset }}</td>
                <td>{{ asset.type }}</td>
                <td>{{ asset.brand }}</td>
                <td>{{ asset.serial }}</td>
                <td>{{ asset.cpu }}</td>
                <td>{{ asset.ram }}</td>
                <td>{{ asset.hdd }}</td>
                <td>{{ asset.ssd }}</td>
                <td>{{ asset.os }}</td>
                <td>{{ asset.gpu }}</td>
                <td>{{ asset.user }}</td>
                <td>{{ asset.dateAdded | date:'dd-MM-yyyy'}}</td>
                <td>{{ asset.warranty }}</td>
                <td>{{ asset.lastmaint }}</td>
            </tr> 
        </tbody>
    </table>
</div>

<!-- Specifications & Costs Title -->
<div class="text-left">
    <h6>Specifications</h6>
</div>

<!-- Buttons/Dropdowns -->
<div class="nav">
    <label style="margin-right:8px;" for="s.type">Part Type:</label>
    <select style="margin-right:25px;" id="s.type" name="s.type">
        <option value="All">All</option>
        <option value="CPU">CPU</option>
        <option value="RAM">RAM</option>
        <option value="HDD">HDD</option>
        <option value="SSD">SSD</option>
        <option value="GPU">GPU</option>
        <option value="Software">Software</option>
        <option value="Peripheral device">Peripheral device</option>
    </select>
    <label style="margin-right:8px;" for="m.manu">Manufacturer:</label>
    <select style="margin-right:25px;" id="s.manu" name="s.manu">
        <option value="All">All</option>
        <option value="Intel">Intel</option>
        <option value="AMD">AMD</option>
        <option value="Apple">Apple</option>
        <option value="LG">LG</option>
    </select>
</div>

<!-- Table 2 - Specifications -->
<div class="table2">
    <table style="width:100%">

        <!-- Table Headers -->
        <thead>
            <tr id="tr1">
                <th></th>
                <th>Code</th>
                <th>Type</th>
                <th>Model</th>
                <th>Manufacturer</th>
                <th>Description</th>
                <th>Warranty</th>
                <th>Maintenance Hours</th>
                <th>?Price?</th>
            </tr>
        </thead>

        <!-- Data -->
        <tbody>
            <tr class="active">
                <td>
                        <input id="newbox" type="checkbox" />
                        <span class="custom-checkbox"></span>
                </td>
                <td>0001</td>
                <td>CPU</td>
                <td>I5-4570</td>
                <td>Intel</td>
                <td>Discontinued - 4th Generation Intel Core I5 Processors</td>
                <td>Expired</td>
                <td>1</td>
                <td>$192</td>
            </tr>
        </tbody>

        <!-- Total -->
        <tfoot>
            <tr>
                <th id="total" colspan="7">Total:&nbsp;</th>
                <td>1</td>
                <td>$192</td>
            </tr>
        </tfoot>
    </table>
</div>
</div>
</body>

<!-- Style -->
<style>
    /*Titles & Headings*/
    h6 {
        font-size: 36px;
        margin:20px;
    }

    h5{
        font-size: 24px;
        margin:15px;
    }

    /*Tables*/
    .table1 {
        width:90%;
        margin-left:80px;
        margin-right:80px;
        font-size: 14px;
        border: 1px solid lightblue;
        text-align: center;
        margin-bottom:5px;
    }
    .table2 {
        width: 90%;
        margin-left:80px;
        margin-right:80px;
        font-size: 14px;
        border: 1px solid lightblue;
        text-align: center
    }
    #thdesc {
        border: 1px solid lightblue !important;

    }
    td {
        border: 1px solid lightblue;
        font-size: 12px;
        text-align: left;
        padding: 5px;
    }
    th {
        background-color: aliceblue;
    }
    tr:hover {
        background-color: azure;
    }
    #total {
        text-align:right;
    }
    .text-left {
        margin-left:50px;
    }    

    /* Navigation */
    .nav{
        margin-bottom:10px;
        margin-left:80px;
        margin-right:80px;
    }

    /* Buttons */
    .man-but{
        text-align:center;
        margin-top:10px;
        margin-bottom: 20px;
    }

    .alert{
        text-align:center;
        
    }
    /* Input */
    input.ng-invalid.ng-dirty{
        background-color:mistyrose;
    }
</style>